@import "./../../../../../theme/fonts/variables.scss";


.header {
    display: flex;
    padding: 26px 78.5px 80px;
    padding-bottom: 0;
    background-color: $primary-background;
    // background-color: green;
    .header-content {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;

        .navigation-list {
            display: flex;
            gap: 2.5rem;
            // border: 2px solid black;
        }
    }
}
.full-page{
    height: 74vh;
    background-color: $primary-background;
}
.fcontainer{
    display: flex;
    height: 100px;
    align-items: center;
    background-color: $primary-background;
}
.fitem{
    width: 170px;
    height: 30px;
    font-size: 20px;
}
.item2{
    flex-grow: 1;
}
.item1{
    margin-left: 80px;
}
.img-align{
    text-align: center;
}



