<main class="header">
    <mat-card-content class="header-content">
        <span>@pushkar Pandey</span>
        <div class="navigation-list">
            <span class="navigation-item">About</span>
            <span class="navigation-item">Work</span>
            <span class="navigation-item">Contact</span>
        </div>
    </mat-card-content>
</main>
<!-- <body class="full-page">
    <div class="fcontainer">
        <div class="fitem item1">@Pushkar Pandey</div>
        <div class="fitem item2"></div>
        <div class="fitem item3">About</div>
        <div class="fitem item4">Work</div>
        <div class="fitem item5">Contact</div>
    </div>
    <div class="img-align">
       <img class="img-responsive" src="./../../../../../assets/pushkar-image.png">
       <span>Flow Developer - UI/UX Designer</span>
    </div>
</body> -->