<app-header></app-header>
<main class="landing-page-body">
    <div class="profile-photo">
        <img src="./../../../../../assets/pushkar-image.png" alt="">
        <div class="about-text">
            <span >
                flow-developer - UI/UX Designer
            </span>
        </div>
    </div>
    <section class="user-details">
        <article class="details-section">
            <div class="title">
                About
            </div>
            <div class="description">
                I am a professional UX/UI designer with a background in mechanical engineering and design. I hold a Master's degree (M.Des) and a PhD in UX/UI design from IIT Kanpur. Alongside my design expertise, I am also an accomplished volleyball player.
            </div>
        </article>
        <article class="details-section">
            <div class="title">
                Recent Work
            </div>
            <section>
                <div class="work">
                    <div class="work-title">
                        <h4>Design Patterns</h4>
                        <span>Deriving design patterns of handheld augmented reality games (HARG)</span>
                        <hr>
                    </div>
                    <div class="work-title top">
                        <h4>Drone Design</h4>
                        <span>DRDO project for developing palm-size drone for Indian Military</span>
                        <hr>
                    </div>
                    <div class="work-title top">
                        <h4>Design Thinking Tools</h4>
                        <span>Human centric design principles and design thinking</span>
                        <hr>
                    </div>
                    <div class="work-title top">
                        <h4>UX Study : Osteoarthritis</h4>
                        <span>Empirical study</span>
                        <hr>
                    </div>
                    
                </div>
            </section>
        </article>
    </section>
</main>
<app-footer></app-footer>