@import "./../../../../../theme/fonts/variables.scss";
@import "./../../../../../theme/fonts/fonts.scss";

.landing-page-body {
    max-width: 100vw;
    overflow: hidden;

    .profile-photo {
        background-color: $primary-background;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .about-text {
            @include font-roboto($size : 9.39rem, $weight: 500, $lh: 11.014rem, $color: $heading-1 );

            position: absolute;
            top: 19.7rem;
            max-width: 100%;
            overflow: scroll;

            span {
                max-width: 100%;
                overflow: scroll;
                min-width: 100%;
                white-space: nowrap;
            }
        }
        
        .about-text::-webkit-scrollbar {
            display: none;
        }
    }

    .user-details {
        display: grid;
        grid-template-rows: 1fr 1fr;
        
        .details-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10rem 5rem;

            .title {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                @include font-roboto($size : 2.5rem, $weight: 500, $lh : 3rem, $color : $heading-3);
            }

            .description {
                @include font-roboto($size : 1.68rem, $weight: 400, $lh : 140%, $color : $description)
            }
            .work-title h4{
                font-size: 50px;
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }
            .work-title span{
                @include font-roboto($size : 1.12rem, $weight: 400, $lh : 140%, $color : $description);
            }
            .work-title hr{
                margin-top: 1.2rem;
                background-color: #C7D0D9;
            }
            .top{
                margin-top: 2rem;
            }
        }
    }
}