@mixin font-roboto($size, $lh, $color, $weight) {
    font-family: 'Roboto';

    @if $size {
        font-size: $size;
    }

    @if $lh {
        line-height: $lh;
    }

   @if $color {
    color: $color;
   }

   @if $weight {
    font-weight: $weight;
   }

}

@mixin font-inter($size, $lh, $color, $weight) {
    font-family: 'Inter';

    @if $size {
        font-size: $size;
    }

    @if $lh {
        line-height: $lh;
    }

   @if $color {
    color: $color;
   }

   @if $weight {
    font-weight: $weight;
   }

}

@mixin font-poppins($size, $lh, $color, $weight) {
    font-family: 'Poppins';

    @if $size {
        font-size: $size;
    }

    @if $lh {
        line-height: $lh;
    }

   @if $color {
    color: $color;
   }

   @if $weight {
    font-weight: $weight;
   }

}